:root {
    --black: #031926ff;
    --blue-black: #31304D;
    --teal: #468189ff;
    --green: #77aca2ff;
    --grey: #9dbebbff;
    --white: #f4e9cdff;
}

body {
    background-color: var(--blue-black);
    margin: 0;
}

.sign-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sign-container .button {
    margin: 0 10px;
    background-color: var(--teal);
    border-radius: 5px;
    border: none;
    padding: 2em;
    color: var(--white);
    cursor: pointer;
}