:root {
    --black: #031926ff;
    --blue-blacker: #292738;
    --blue-black: #31304D;
    --teal: #468189;
    --green: #77aca2;
    --grey: #9dbebb;
    --white: #f4e9cd;
}

body {
    margin: 0;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .7em;
    padding: 1em;
    background-color: var(--blue-blacker);
}

@font-face {
    font-family: 'Monaco';
    src: url("/static/assets/fonts/DroidSansMono.ttf");
}

.main-content-filler {
    background-color: var(--blue-black);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    font-family: 'Monaco';
}

.create-level {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.delete-level {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.edit-level {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.ban-user {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.get-teacher-requests {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.square-7 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.unban-user {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.square-5 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.square-6 {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.create-level-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-input {
    margin: .2em;
    padding: .1em;
    padding-left: .5em;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Monaco';
}

.dashboard-input:focus {
    border: .2em solid var(--teal);
}

.dashboard-submit {
    margin: .2em;
    padding: .1em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 5px;
    border: var(--white) solid .15em;
    outline: none;
    font-family: 'Monaco';
    background-color: var(--blue-blacker);
    color: var(--white);
    font-size: 1.1em;
    cursor: pointer;
}

.modal {
    display: none;
    z-index: 999;
    width: 70%;
    height: 70%;
    position: fixed;
    top: 15%;
    left: 15%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
}

.modal-content {
    background-color: var(--blue-black);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: var(--white);
}

.modal-close {
    color: var(--white);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}