:root {
    --black: #031926ff;
    --blue-black: #31304D;
    --teal: #468189ff;
    --green: #77aca2ff;
    --grey: #9dbebbff;
    --white: #f4e9cdff;
}

body {
    background-color: var(--blue-black);
    margin: 0;
}

.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10vw;
    z-index: 100;
    background-color: var(--black);
}

.sidebar-filler {
    padding: 1em;
}

.sidebar-symbol {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 1, 'opsz' 48;
    padding: 2em;
    color: white;
    /* stop highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;  /* Safari */
    -khtml-user-select: none;  /* Konqueror HTML */
    -moz-user-select: none;   /* Old versions of Firefox */
    -ms-user-select: none;   /* Internet Explorer/Edge */
    user-select: none;      /* Non-prefixed version, currently */
}

@media screen and (max-width: 700px) {
    .sidebar {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.sidebar-symbol.active {
    color: var(--teal);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;  /* Safari */
    -khtml-user-select: none;  /* Konqueror HTML */
    -moz-user-select: none;   /* Old versions of Firefox */
    -ms-user-select: none;   /* Internet Explorer/Edge */
    user-select: none;      /* Non-prefixed version, currently */
    pointer-events: none;
}