/* Variables */
:root {
    --editor-bg: #1f1f1f;
    --editor-border: #3f87a6;
}

/* Reset Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editor-wrapper {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background: var(--editor-bg);
    padding: 2em;
    border-radius: 3px;
    border: 1px solid #3b3b3b;
}

.editor-body {
    flex: 1;
}

.editor-footer {
    display: flex;
}

.editor-footer-left {
    display: flex;
    flex-direction: column;
}

.editor-footer-right {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}

.editor-btn {
    border: 0;
    padding: .5em;
    background-color: #555555;
    border: 2px solid #333;
    color: #fff;
    margin-top: 1em;
    width: 100px;
    cursor: pointer;
}

.editor-console {
    background-color: #333333;
    width: 100%;
    height: 130px;
    margin-top: .9em;
    border: 1px solid var(--editor-border);
    overflow: auto;
}

.editor-code {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--editor-border);
}

.editor-console {
    font-family: 'Monaco';
    font-size: 14px;
    color: #fff;
    padding: 1em;
    overflow: auto;
}

body {
    background-color: #282828;
}

@font-face {
    font-family: 'Monaco';
    src: url("../assets/fonts/Monaco.ttf");
}