/* Variables */
:root {
    --editor-bg: #1f1f1f;
    --editor-border: #3f87a6;
}

/* Reset Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.instructions-container {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: #222;
    border: 1px solid var(--editor-border);
    border-radius: 1.5vh;
    border-color: #3f87a6;
    padding: 1em;
    font-family: 'Monaco';
    font-size: 75%;
    color: #fff;
    display: none;
}

.instructions-close {
    position: absolute;
    top: .1vh;
    right: .1vh;
    padding: .5em;
    cursor: pointer;
    background-color: #333;
    border: 2px solid #111;
    border-radius: 2vh;
}

.editor-body {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 2.1em;
    left: 0;
    width: 50%;
    height: calc(100% - 2.1em);
}

.editor-buttons {
    display: flex;
    flex-direction: row;
    position:absolute;
    top: 0;
    left: 0;
}


.editor-btn {
    border: 0;
    padding: .5em;
    background-color: #555555;
    border: 2px solid #333;
    color: #fff;
    width: 100px;
    cursor: pointer;
}

.editor-console {
    background-color: #333333;
    width: 50%;
    height: 100%;
    border: 1px solid var(--editor-border);
    overflow: auto;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    font-family: 'Monaco';
    font-size: 75%;
    color: #fff;
    padding: 1em;
}

.editor-code {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--editor-fborder);
}


body {
    background-color: #282828;
}

@font-face {
    font-family: 'Monaco';
    src: url("../assets/fonts/Monaco.ttf");
}

#instructions {
    font-size: 2em;
}