body {
	background-color: #113f67;
	text-align: center;
	margin: 0;
	padding: 0;
}

#login-box {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	vertical-align: middle;
}

input {
	margin: 5px;
	border-width: 2px;
	border-radius: 11px;
	box-shadow: none;
	outline: none;
	font-size: x-large;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	color: #e7eaf6;
	background-color: #38598b;
	border-color: #38598b;
}

button {
	border-style: solid;
	font-size: x-large;
	margin: 5px;
	border-radius: 7.5px;
	color: #113f67;
	background-color: #a2a8d3;
	border-color: #a2a8d3;
	transition-property: transform, box-shadow;
	transition-duration: 0.25s;
}

button:active {
	transform: translateY(2.5px) scale(0.95);
	border-color: #e7eaf6;
	color: #38598b;
	background-color: #e7eaf6;
}

button:active (prefers-reduced-motion) {
	border-color: #e7eaf6;
	color: #38598b;
	background-color: #e7eaf6;
}
