/* It's called logreg because it's used for login and register pages */

:root {
    --rich-black: #031926ff;
    --teal: #468189ff;
    --cambridge-blue: #77aca2ff;
    --ash-gray: #9dbebbff;
    --parchment: #f4e9cdff;

    /* aliases */

    --black: #031926ff;
    --blue-black: #31304D;
    --teal: #468189ff;
    --green: #77aca2ff;
    --grey: #9dbebbff;
    --white: #f4e9cdff;

    /* IDE colors */
    --editor-bg: #1f1f1f;
    --editor-border: #3f87a6;
}

  /*                       */
 /*                       */
/* login + createaccount */
/*                      */
/*                     */

body {
	background-color: var(--black);
	text-align: center;
	margin: 0;
	padding: 0;
}

/* max is bad at cs */
#error {
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: red;
}

#login-box {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	vertical-align: middle;
}

.login-input {
	margin: 5px;
	border-width: 2px;
	border-radius: 11px;
	box-shadow: none;
	outline: none;
	font-size: x-large;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	color: var(--white);
	background-color: var(--teal);
	border-color: var(--teal);
}

.register-link {
    text-decoration: none;
    color: var(--teal);
	cursor: pointer;
}

.login-input::placeholder {
    color: var(--grey);
}

.login-button {
	border-style: solid;
	font-size: x-large;
	margin: 5px;
	border-radius: 7.5px;
	color: var(--black);
	background-color: var(--green);
	border-color: var(--green);
	transition-property: transform, box-shadow;
	transition-duration: 0.25s;
}

.login-button:active {
	transform: translateY(2.5px) scale(0.95);
	border-color: var(--white);
	color: var(--teal);
	background-color: var(--white);
}

.wrong {
	animation: fadeout 3s;
}


@keyframes fadeout {
	from {
		border-color: red;
	}

	to {
		border-color: var(--teal);
	}
}
