:root {
    --rich-black: #031926ff;
    --teal: #468189ff;
    --cambridge-blue: #77aca2ff;
    --ash-gray: #9dbebbff;
    --parchment: #f4e9cdff;

    /* aliases */

    --black: #031926ff;
    --blue-black: #31304D;
    --dark-bb: #25243a;
    --teal: #468189ff;
    --green: #77aca2ff;
    --grey: #9dbebbff;
    --white: #f4e9cdff;
    --dwhite: #696969;

    /* IDE colors */
    --editor-bg: #1f1f1f;
    --editor-border: #3f87a6;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--blue-black);
    margin: 0;
}

.main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10vw;
    right: 0;
    overflow: hidden;
}

.test {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1%;
    background-color: var(--teal);
}

.ttest {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1%;
    background-color: var(--teal);

}

.tree {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(21, calc(100% / 10));
    grid-template-rows: repeat(11, calc(100% / 10));
}

.level {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-bb);
    color: var(--dwhite);
    width: 10vh;
    height: 10vh;
    font-size: .8vw;
    text-decoration: none;
    min-width: min-content;
    min-height: min-content;
}

.start {
    grid-column: 2;
    grid-row: 5 ;
}

.level.unlocked {
    background-color: var(--teal);
    color: var(--parchment);
}

.leader-line {
    z-index: 0;
}